img{
	width: 200px;
	height: 200px;
}

.title{
	color: white;
	font-size: 50px;
	font-family:'Marck Script', cursive;
	position: relative;
	text-align: center;
}

.numClicks{
	color: white;
	font-size: 20px;
}

.btn{
	margin-bottom: 15px;
	margin-right: 15px;
	color: black;
	background-color: white;
}

.btn:hover{
	font-family: 'Griffy', cursive;
	font-size: 20px;
	transition-duration: 0.4s;
    background-color: #f44336;
}

/* Set up the parent as a 3D playground with perspective. This is the outer grid that had black outlines */
.mg-tile{
	height: 230px;
	min-width: 255px;
	perspective: 500px;
}

.mg-tile-inner{
	height: 200px;
	width: 200px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s;
}

/* one element, both classes */
/* .mg-front.mg-back{} */
/* #aDiv.mg-back{} */
/*
one element, inside another element
.mg-front .mg-back{} */

/* two completely separate elements */
.mg-front, .mg-back{
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid red;
	backface-visibility: hidden;
}

/* Flip the front of the card facedown */
.mg-front{
	transform: rotateY(180deg);
}

.mg-back{
	background: url('images/quindecim_emblem.png') no-repeat 50% 50%;
	/* Need to force a width and height on it b/c there is nothing in the body right now. Otherwise, background image won't show up. */
	width: 200px;
	height: 200px;

}

.flip, .matched{
	transform: rotateY(-180deg);
}	

.matched{
	transform: rotateX(-180deg);
	transition: all 4s;
}	

body{
	background: url('images/chandelier.png') no-repeat fixed;
	background-size: cover;
}

.container{
	margin: auto;
}
