img{
	width: 200px;
	height: 200px;
}

.title, .winMessage, .loseMessage{
	color: white;
	font-size: 65px;
	font-family:'Marck Script', cursive;
	position: relative;
	text-align: center;
}

#numClicks{
	color: white;
	font-size: 30px;
	display: none;
	text-align: center;
}

.btn{
	margin-bottom: 35px;
	margin-left: 25%;
	margin-top: 50px;
	color: black;
	background-color: white;
	font-size: 25px;
	border-radius: 15px;
}

#reset.btn{
	display: block;
	margin-left: 43%;
}

.btn:hover{
	font-family: 'Griffy', cursive;
	font-size: 35px;
	transition-duration: 0.4s;
}

#easy:hover{
	background-color: #009b3e;
}

#normal:hover{
	background-color: #ff8300;
}

#hard:hover{
	background-color: #f44336;
}

#reset:hover{
	background-color: #6b060e;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

/* Set up the parent as a 3D playground with perspective. This is the outer grid that had black outlines */
.mg-tile{
	height: 230px;
	min-width: 255px;
	perspective: 500px;
}

.mg-tile-inner{
	height: 255px;
	max-width: 200px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s;
}

/* one element, both classes */
/* .mg-front.mg-back{} */
/* #aDiv.mg-back{} */
/*
one element, inside another element
.mg-front .mg-back{} */

/* two completely separate elements */
.mg-front, .mg-back{
	position: absolute;
	top: 25px;
	left: 0;
	border: 2px solid white;
	backface-visibility: hidden;
}

/* Flip the front of the card facedown */
.mg-front{
	transform: rotateY(180deg);
}

.mg-back{
	background: url('images/quindecim_emblem.png') no-repeat 50% 50%;
	/* Need to force a width and height on it b/c there is nothing in the body right now. Otherwise, background image won't show up. */
	background-size: 100%;
	background-color: black; 
	width: 200px;
	height: 200px;

}

.flip, .matched{
	transform: rotateY(-180deg);
}	

.matched{
	transform: rotateX(-180deg);
	transition: all 4s;
}	

body{
	background: url('images/chandelier.png') no-repeat fixed;
	background-size: cover;
}

.winMessage, .loseMessage{
	display: none;
	color: white;
	font-size: 200px;
	font-weight: bold;
}

.winMessage{
	margin-top: 10%;
}

.loseMessage{
	margin-top: 30px;
}


